* {
  margin: 0;
  padding: 0;
}

form {
  margin: 0 auto;
  margin-top: 200px;
  width: 600px;
  padding: 1em;
  border: 1px solid #660000;
  border-radius: 1em;
  padding-top: 30px;

}

.formulario {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

form div+div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 30px;
}

input,
textarea,
select {
  font: 1em sans-serif;
  width: 340px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #52566c;
  border-radius: 3px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

button {
  width: 100px;
  height: 30px;
  border: 2px solid #585b58;
  text-align: center;
  border-radius: 3px !important;
  text-decoration: none;
  background-color: white;
  transition-duration: 0.4s;
}
.button:hover{
  background-color: #52566c;
  color: white;
}
.buttonEditar:hover{
  background-color: #090e2d ;
  color: white;
}
.buttonDeletar:hover{
  background-color: red;
  color: white;
}
.buttonDeletar{
  margin-left: 10px;
}
.botoes {
  width: 500px;
  display: flex;
  justify-content: space-around;
  padding-left: 21px;
}
.acoes{
  width: 100%;
}
.div_voltar{
  margin-left: 10px;
}
.formulario {
  width: 1200px;
}
.error-message {
  color: red;
  padding-left: 90px;
}
